ion-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around ;
   
  }
ion-card{
    top: 20%;
}
  #cambiar{
    box-shadow: none;
    
    --background: var(--ion-color-primary-contrast) ;
  }
  #item1{
   
    margin-top: 10%;
    
  }
  #item2{ 
    margin-top: 20%;
  }

  h2.ache1{
    color: var(--ion-color-primary);
    position: absolute;
    left: 5%;
    margin-top: 0%;
}

  h2.ache2{
    color: var(--ion-color-primary);
    position: absolute;
    left: 5%;
    margin-top: 10%;
}


ion-input{
    color: var(--ion-color-primary-shade);
    background: var(--ion-color-primary-tint);
    text-align: center;
    border-radius: 8px;
}

.btn-actualizar{
    position: absolute;
    left: 20%;
    width: 60%;
    margin-top: 80%;
    border-radius: 5px;
}

Ion-button{
    Border-radius:8px;
    }