<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuPrincipal"></ion-menu-button>
  </ion-buttons>
    <ion-title>CAMBIAR CONTRASEÑA</ion-title>
    <ion-icon slot="end" id="iconperfil"  name="person-circle-sharp" [routerLink]="
    ['/editar-perfil']
    "></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <h2 size="large" id="titulo">CAMBIAR CONTRASEÑA</h2>
    
    <ion-card id="cambiar">

      {{cedula}}

    <ion-item>
      <ion-input label="Nueva contraseña" label-placement="floating" type="text" pattern="[A-Za-z0-9]{2,20}" fill="solid" [(ngModel)]="contra1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Confirma tu nueva contraseña" label-placement="floating" fill="solid" pattern="[A-Za-z0-9]{2,20}"  type="text" [(ngModel)]="contra2"></ion-input>
    </ion-item>

  </ion-card>

  <ion-button type="submit" class="ion-padding" expand="full" (click)="verificarContrasena()" >Actualizar</ion-button>

</ion-content>
