#contenedorppal{
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: relative;
  align-items: center;
}

#caja_foto {
  position: absolute;
  bottom: 75%;
}

#iconofotogrande{
  height: 100px;
  width: 100px;
  border-radius: 30%;
}

.imagen_del_perfil{
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: var(--ion-color-primary);
  color: white;
  border-radius: 4px;
}

#caja_nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  font-size: 19px;
  position: absolute;
  bottom: 67%;
}

#caja_tel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  font-size: 19px;
  gap: 4%;
  position: absolute;
  bottom: 47%;
  height: 17%;
}
  #caja_tel, #edit_tel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4%;
  }

#btn-telefono {
  font-size: 12px;
  padding: 4px 6px;
}

#caja_correo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4%;
  font-size: 19px;
  position: absolute;
  bottom: 35%;
}

#btn-correo {
  font-size: 12px;
  padding: 4px 6px;
}

#caja_contra {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4%;
  font-size: 19px;
  position: absolute;
  bottom: 23%;
}

#btn-contrasena {
  font-size: 12px;
  padding: 4px 6px;
}
