<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuPrincipal"></ion-menu-button>
  </ion-buttons>
    <ion-title>EDITAR PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="Datoseditar.length > 0" >
  <ng-container *ngFor="let item of Datoseditar">
    <ion-icon name="cloud-upload" (click)="imagen_usuario_selecion()" style="font-size: 32px; cursor: pointer;"></ion-icon>

    <!-- Input de archivo oculto por su display-->
    <input type="file" id="fileInput" (change)="imagen_del_perfil($event)" >
    <p>Nombre:</p>
    <p> {{item.nombre}}</p>
      <p>Telefono:</p>
      <p>  {{item.telefono}}</p> 
        <input type="tel" [(ngModel)]="telefononuevo" placeholder="nuevo telefono" name="telefono" id="telefono">
      <p>{{usuario}}</p>
      
      <ion-button [routerLink]="['/cambiar-correo']">correo</ion-button>
      <p>Contraseña:</p>
      <ion-button [routerLink]="['/cambiar-contra']">contraseña</ion-button>
      <ion-button type="sutmit" (click)="update_telefono()" >guardar cambios</ion-button>
</ng-container>
<ion-spinner id="spiner" *ngIf="Datoseditar.length < 1"></ion-spinner>
</ion-content>
