:root {
    --ion-card-margin: 1rem;
    --ion-card-padding: 1rem;
}

ion-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--ion-color-primary-contrast-rgb);
    position: relative;
    top: 45%;
    left: 50%;
    height: 70%;
    transform: translate(-52%, -50%);
    width: 80%; /* Ancho ajustado para dispositivos móviles */
    max-width: 350px; /* Ancho máximo para pantallas más grandes */
    text-align: center;
}

#cardejercicios {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-shade);
    font-size: 17px;
    position: relative;
    padding: 1rem;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-card-header{
    width: 100%;
    height: 18%;
    padding: 0;
    bottom: 1%;
}

#titulo {
    text-align: center;
    font-size: 30px;
    color: var(--ion-color-primary-shade);
    padding: 0;
    margin: 0;
}

#num_tarjeta {
    color: var(--ion-color-primary-shade);
    padding: 0;
    margin: 0;
}

#fecha {
    text-align: center;
    color: var(--ion-color-primary-shade);
    padding: 0;
    margin: 0;
}

ion-card-content{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itemimagen{
    position: relative;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 3%;
}

#imagen {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid var(--ion-color-primary-shade);
    border-radius: 10px;
}

#caja_padre_pollitos {
    margin-top: 10%;
    height: 18%;
    width: 100%;
    top: 5%;
    display: flex;
    justify-content: space-between;
}

#opcion1 {
    // position: relative;
    font-weight: bold;
    font-size: 20px;
    color: var(--ion-color-primary-shade);
}

#seie_barra {
    // position: relative;
    background-color: var(--ion-color-primary-shade);
    padding: 1px;
    font-size: 150px;
}

#numero_serie {
    // position: relative;
    font-weight: bold;
    font-size: 20px;
    color: var(--ion-color-primary-shade);
}

#opcion2 {
    // position: relative;
    font-weight: bold;
    font-size: 20px;
    color: var(--ion-color-primary-shade);
}

#repeticion_barra {
    // position: relative;
    background-color: var(--ion-color-primary-shade);
    padding: 1px;
    font-size: 150px;
}

#numero_repeticion {
    // position: relative;
    font-weight: bold;
    font-size: 20px;
    color: var(--ion-color-primary-shade);
}

#botones {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    top: 5%;
    position: relative;
}

#botonatras{
    position: relative;
    background-color: var(--ion-color-primary-tint);
    width: 50px;
    bottom: 10px;
    border-radius: 10px;
}

#botonsiguiente{
    position: relative;
    background-color: var(--ion-color-primary-tint);
    width: 50px;
    bottom: 10px;
    border-radius: 10px;
}

ion-icon{
    color: var(--ion-color-primary-shade);
}

@media (min-width: 576px) {
    :root {
    --ion-card-width: 80%;
    }
}

@media (min-width: 768px) {
    :root {
    --ion-card-width: 70%;
    }
}

@media (min-width: 992px) {
    :root {
    --ion-card-width: 60%;
}

    #titulo {
    font-size: 30px;
}
#fecha {
    font-size: 18px;
}
}
