:root {
    --ion-card-margin: 1rem;
    --ion-card-padding: 1rem;
}

#cardejercicios {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-shade);
    font-size: 17px;
    position: relative;
    padding:1rem;
    width: 90%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}

#fecha {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    
}
ion-card-header{
    width: 100%;
    height: 20%;
    padding: 0;
    top: -4%;
}
ion-card-content {
    width: 80%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itemimagen {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    top: 10%;
    padding: 0;
    margin: 0;

}


#imagen {
    width: 90%; 
    height: 90%; 
    object-fit: cover;
    display: block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px; 
}

#opcion1 {
    position: absolute;
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    top: 225px;
    left: 184px;

}
#conteo{

    position: absolute;
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    bottom: 32px;
    font-size: 30px;

}
#seie_barra{
    position: absolute;
    background-color: black;
    top: 260px;
    left: 181px;
    width: 56px;
    padding: 1px;
    font-size: 150px;
}

#Repeticion_barra{
    position: absolute;
    background-color: black;
    top: 260px;
    left: -19px;
    width: 107px;
    padding: 1px;
    font-size: 150px;
}

#opcion2 {
    position: absolute;
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    top: 225px;
    right: 150px;
}
#numero_repeticion{
    position: absolute;
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    top: 260px;
    right: 200px;
    

}
#numero_serie{
    position: absolute;
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    top: 260px;
    left: 200px;

}

#botones {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    top: 310px;
}
#botonatras{
    position: relative;
    background-color: beige;
    width: 50px;
    bottom: 10px;
    border-radius: 10px;


}
#botonsiguiente{
    position: relative;
    background-color: beige;
    width: 50px;
    bottom: 10px;
    border-radius: 10px;


}
ion-icon{
    color: #000000;
}

@media (min-width: 576px) {
    :root {
    --ion-card-width: 80%;
    }
}

@media (min-width: 768px) {
    :root {
    --ion-card-width: 70%;
    }
}

@media (min-width: 992px) {
    :root {
    --ion-card-width: 60%;
}

    #titulo {
    font-size: 30px;
}
#fecha {
    font-size: 18px;
}
}