ion-card-header{
    color: var(--ion-color-primary-shade);
}
#rutinas{
    --background: var(--ion-color-primary);
    top: 30%;
    left: 3%;
    position: absolute;
    height: 400px;
    width: 350px;
}
#segmentosrutinas{
    color: var(--ion-color-primary-shade);
}