

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Digite el codigo que le llego</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input id="input_correo" type="text" [(ngModel)]="codigo"></ion-input>


      <ion-buttons id="botones_accion">
        <ion-button fill="clear" [routerLink]="['/login']" >Regresar</ion-button>
        <ion-button fill="clear"  (click)="Verificar_codigo()" type="submit">Verificar</ion-button>
      </ion-buttons>

    </ion-card-content>


    
  </ion-card>
</ion-content>
