
ion-card-header{ 
    padding-top: 20px;
    
}
ion-card-title{
    color: var(--ion-color-primary);
    left: 2%;
    top: 7px;
    font-size: 36px;
    text-align: center;
}

ion-card-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}
#cardlogin{
    
    margin: 0;
    padding: 0;
    border-radius: 5%;
    top: 20%;
    left: 5%;
    height: 60%;
    width: 90%;


}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#label1{
    position: absolute;
    display: flex;
    top: 4%;
    left: 6%;
    font-size: 20px;
    color: var(--ion-color-primary);
}
#label2{
    position: absolute;
    display: flex;
    bottom: 60%;
    left: 6%;
    font-size: 20px;
    color: var(--ion-color-primary);
}

#usuario{
    color: var(--ion-color-primary-shade);
    position: absolute;
    top: 12%;
    margin: 0;
    padding: 0;
    width: 90%;
    border-radius: 8px;
    --background:none;      
    background-color: var(--ion-color-primary-tint);
}
#contrasena{
    color: var(--ion-color-primary-shade);
    position: absolute;
    margin: 0;
    padding: 0;
    width: 90%;
    border-radius: 8px;
    top: 40%;
    --background:none;      
    background-color: var(--ion-color-primary-tint);

}
ion-content{
    width: 100vw;
    height: 100vh;
    --background: none;
    background-color:var( --ion-color-primary-tint);
}

ion-button{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 53%;
    height: 5%;
    border-radius: 5px;
    left: 23%;
    bottom: 20%;
    color: var(--ion-color-primary-shade);
  --background:none;
  background-color: var(--ion-color-primary)
}
#olvido-contra-boton{
    width: 60%;
    position: relative;
    bottom: 43%;
    left: 5%;
}