
<ion-content>

    <ion-card id="cardlogin">
      <ion-card-header >
        <ion-card-title >inicia sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <form (ngSubmit)="login()">
          
            <ion-label id="label1" >Correo:</ion-label>
            <ion-input type="text" [(ngModel)]="usuario" name="usuario"  id="usuario"  required></ion-input>
         
          
            <ion-label id="label2" >Contraseña:</ion-label>
            <ion-input type="password" [(ngModel)]="contrasena" id="contrasena" name="password" (click)="verificarCorreoLogin()" required></ion-input>

            <div id="chexrecuerdame" >
              <ion-checkbox [(ngModel)]="rememberMe" name="rememberMe"></ion-checkbox>
              <ion-label>Recordar Credenciales</ion-label>
            </div>
          
            <ion-button  type="submit">
              Ingresar
            </ion-button>



        </form>
        <h2 [routerLink]="['/olvidaste-contrasena']" id="olvido-contra-boton">¿Olvidaste tu contraseña?</h2>
        

      </ion-card-content>
    </ion-card>

</ion-content>