<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
        <ion-menu-button menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>AVANCES</ion-title>
    <div slot="end">
      <div id="pruebaimagen" *ngIf="imagen">
        <ion-img src="assets/img/{{imagen}}" alt="" [routerLink]="['/editar-perfil']"></ion-img>
      </div>
      <div id="pruebaimagen1" *ngIf="!imagen">
        <ion-icon id="iconperfil" name="person-circle-sharp" [routerLink]="['/editar-perfil']"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Primera columna con datos -->
      <ion-col size="12">
        <form (ngSubmit)="onSubmit()">
        <ion-card>
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-select [(ngModel)]="mes1" label="Mes 1" name="mes1" label-placement="floating">
                  <ion-select-option value="2024-01-01">Enero</ion-select-option>
                  <ion-select-option value="2024-02-01">Febrero</ion-select-option>
                  <ion-select-option value="2024-03-01">Marzo</ion-select-option>
                  <ion-select-option value="2024-04-01">Abril</ion-select-option>
                  <ion-select-option value="2024-05-01">Mayo</ion-select-option>
                  <ion-select-option value="2024-06-01">Junio</ion-select-option>
                  <ion-select-option value="2024-07-01">Julio</ion-select-option>
                  <ion-select-option value="2024-08-01">Agosto</ion-select-option>
                  <ion-select-option value="2024-09-01">Septiembre</ion-select-option>
                  <ion-select-option value="2024-10-01">Octubre</ion-select-option>
                  <ion-select-option value="2024-11-01">Noviembre</ion-select-option>
                  <ion-select-option value="2024-12-01">Diciempre</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngFor="let medida of medidasMes1">
                {{ medida }}
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                Medidas
              </ion-item>
              <ion-item *ngFor="let item of items">
                <!-- Aquí colocas el contenido de cada fila -->
                {{ item }}
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-select [(ngModel)]="mes2" name="mes2" label="Mes 2" label-placement="floating">
                  <ion-select-option value="2024-01-01">Enero</ion-select-option>
                  <ion-select-option value="2024-02-01">Febrero</ion-select-option>
                  <ion-select-option value="2024-03-01">Marzo</ion-select-option>
                  <ion-select-option value="2024-04-01">Abril</ion-select-option>
                  <ion-select-option value="2024-05-01">Mayo</ion-select-option>
                  <ion-select-option value="2024-06-01">Junio</ion-select-option>
                  <ion-select-option value="2024-07-01">Julio</ion-select-option>
                  <ion-select-option value="2024-08-01">Agosto</ion-select-option>
                  <ion-select-option value="2024-09-01">Septiembre</ion-select-option>
                  <ion-select-option value="2024-10-01">Octubre</ion-select-option>
                  <ion-select-option value="2024-11-01">Noviembre</ion-select-option>
                  <ion-select-option value="2024-12-01">Diciempre</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngFor="let medida of medidasMes2">
                {{ medida }}
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-button expand="block" type="submit">Submit</ion-button>
        </ion-card>
      </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>