<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuPrincipal" ></ion-menu-button>
    </ion-buttons>
    <ion-title>CONTACTANOS</ion-title>
    <div slot="end">
      <div id="pruebaimagen" *ngIf="imagen">
        <ion-img src="assets/img/{{imagen}}" alt="" [routerLink]="['/editar-perfil']"></ion-img>
      </div>
      <div id="pruebaimagen1" *ngIf="!imagen">
        <ion-icon id="iconperfil" name="person-circle-sharp" [routerLink]="['/editar-perfil']"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="contenedor" [fullscreen]="true">
  <ion-title class="tit">MAS SOBRE NOSOTROS</ion-title>
    
  <ng-container *ngIf=" infogym.length > 0">
    <div id="consulgym" *ngFor="let item of infogym">
      <ion-label  class="centrado">Nombre Del Gym:</ion-label>
      <ion-label  class="centrado">{{item.nombre_gym}}</ion-label>
     
      <ion-label  class="centrado">{{item.telefono_gym}}</ion-label>
  
      <ion-label  class="centrado">{{item.correo_gym}}</ion-label>
      <ion-label  class="centrado">ESTAMOS UBICADOS EN:</ion-label>
      <ion-label  class="centrado">{{item.ubicacion_gym}}</ion-label>
      
      <ion-label  class="centrado">NUESTRA DIRECCION ES:</ion-label>

      <ion-label  class="centrado">{{item.barrio_gym}}</ion-label>

      <ion-label  class="centrado">{{item.direccion_gym}}</ion-label>
      
    </div>
  </ng-container>
  <ion-spinner id="spiner" *ngIf="infogym.length === 0"></ion-spinner>
</ion-content>

