:root {
    --ion-card-margin: 1rem;
    --ion-card-padding: 1rem;
}

#cardejercicios {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-shade);
    font-size: 17px;
    position: relative;
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-card-header {
    padding: 0;
    height: 23%;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 2%;
}

#titulo {
    text-align: center;
    font-size: 30px;
    color: var(--ion-color-primary-contrast);
    margin-top: 1%;
    margin-bottom: 1%;
}

#num_tarjeta {
    text-align: center;
    color: var(--ion-color-primary-contrast);
    margin-top: 1%;
    margin-bottom: 1%;
}

#fecha {
    text-align: center;
    color: var(--ion-color-primary-contrast);
    margin-top: 1%;
    margin-bottom: 1%;
}

ion-card-content {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itemimagen {
    // background: aquamarine;
    position: relative;
    width: 100%;
    //height: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#imagen {
    width: 90%;
    height: 100%;
    display: block;
    border: 1px solid beige;
    border-radius: 10px;
}

#contenedor_series_repeticiones {
    // background-color: antiquewhite;
    margin-top: 10%;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.opcion1 {
    font-weight: bold;
    font-size: 20px;
    color: var(--ion-color-primary-contrast);
}

.opcion2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--ion-color-primary-contrast);
}

#botones {
    // background-color: blanchedalmond;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    top: 67%;
}

#botonatras{
    position: relative;
    background-color: beige;
    width: 50px;
    border-radius: 10px;

}
#botonsiguiente{
    position: relative;
    background-color: beige;
    width: 50px;
    border-radius: 10px;
}
ion-icon{
    color: black;
}

@media (min-width: 576px) {
    :root {
    --ion-card-width: 80%;
    }
}

@media (min-width: 768px) {
    :root {
    --ion-card-width: 70%;
    }
}

@media (min-width: 992px) {
    :root {
    --ion-card-width: 60%;
}

    #titulo {
    font-size: 30px;
}

    #fecha {
    font-size: 18px;
}
}